body{
	background-color: #F8F8F8;
	text-align: justify;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
	
p{
	color: #009999;	
	display: inline-block;
	text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;    
	padding: 20px;
	text-align: center;
}
h1{
	color: #0066FF;
	text-decoration: overline underline;
	font-style: italic bold;

}
h2{
	color: #0066FF;
	text-decoration: overline underline;
	font-style: italic;

}

h3{
	color: #0066FF;
	line-height: 30%;
	font-style: oblique;
}
