body{
	/*background-color: #F8F8F8;*/
	background: #F8F8F8;
	background: linear-gradient(to right bottom, #f6f1d3 20%, #CCFFFF 75%, #99FFCC);
	text-align: justify;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
	
p{
	color: #009999;	
	display: inline-block;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	color: #009999;	
	margin-right: 10%;
	margin-left: 10%;
	text-align: left;

}

#tabs {
	list-style-type:none;
	margin: 30px 0 0 0;
	padding: 0 0 0.3em 0;
}

li {
    float: left;

}

#menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;    
	padding: 20px;
	text-align: center;
}
h1{
	color: #0066FF;
	text-decoration: overline underline;
	font-style: italic bold;

}
h2{
	color: #0066FF;
	text-decoration: underline;
	font-style: italic;

}

h3{
	color: #0066FF;
	line-height: 30%;
	font-style: oblique;
}

input[type=button] {
	margin: 0 0;
	padding: 20px 20px;
	border: none;
	width:33%;
	font-size: 140%;
	font-style: oblique;
	line-height: 30%;
	background: #3D3331;
	color: white;
	background-color: #0066FF;
	display: inline-block;
}

input[type=button]:hover {
	background-color: #009999;
}


#newsletter p{
	font-size: 0.9em;
	display: inline-block;
	text-align: justify;
	text-align: center;
}

#return p{
	font-size: 0.9em;
	display: inline-block;
	text-align: justify;
	text-align: center;
}

#box{
	margin-right: 10%;
	margin-left: 10%;
	display: inline-block;
}

#form{
	margin: 10px;
	width: 500px;
	padding: 3px;

}

/*.box p{
	text-align: center;
}
.box h3{
	text-align: center;
}*/

label{
	float: left;
	width: 100px;
	text-align: right;

}

textarea{
	width: 350px;
	padding: 3px;
	margin: 0px;
}

input{
	width: 350px;
	padding: 3px;
	margin: 0px;
}

p.error{
	color: red;
}

p.sent{
	color: green;
}

div{
	text-align: justify;
	margin-right: 10%;
	margin-left: 10%;
}

.randeep{ 
	/*float: middle; */
	display: inline-block;
	width: 13.3%; 
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

.authors{
	color: #0066CC;
}

.randeep p{
	font-size: 0.7em;
	text-align: center;
}

.jessica p{
	font-size: 0.7em;
	text-align: center;
}

.neha p{
	font-size: 0.7em;
	text-align: center;
}

.neha{ 
	float: right;
	display: inline-block;
	width: 13.3%; 
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}

.jessica{ 
	display: inline-block; 
	float: left;
	width: 13.3%; 
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;

}



/*div img{
	display: inline-block;
	width: 100px;
	height: 100px;
}
div:after{
	content: '';
	display: inline-block;
	width: 100%;
}
p.authors{
	text-align: justify;
	margin-left: 10%;
}*/